header .return {
    a {
        font-size: 50px;
        color: gray;
    }
}

// Form section design start 
.form {
    img {
        width: 180px;
    }
    .formPart {
        .mainForm {
            border-radius: 25px !important;
            box-shadow: -2px 5px 5px 1px #888, 5px 8px 9px 0 #333 !important;
        }
        p.noGap {
            margin: -15px;
            padding-left: 13px;
        }
        p {
            font-size: 16px;
            font-weight: 600;
            color: #000;
        }
        a {
            font-size: 16px;
            font-weight: 800;
            color: #000;
            &:hover {
                text-decoration: underline;
            }
        }
        input {
            border: none;
            border-bottom: 1px solid #7eb9a8;
            border-radius: 0;
            text-align: center;
            outline: none;

            &:hover {
                border-bottom: 1px solid #000;
            }

            &:focus {
                outline: none;
                border: none;
                box-shadow: none;
                border-bottom: 1px solid #7eb9a8;
            }
            &:active {
                outline: none;
            }
            ::placeholder {
                color: #BDBDBD;
            }
        }
        .bcenter {
            button {
                padding: 7px 85px;
                border-radius: 0;
                background-color: rgb(58, 148, 122);
                border-color: rgb(58, 148, 122);
                &:hover {
                    background-color: #fff;
                    color: rgb(58, 148, 122);
                }
            }
        }
        .lastPart {
            img {
                width: 250px;
            }
        }
    }
}
// Form section design end